body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #262626;
  color: #f8f8f2;
}

/*# terminal color palette
# palette = "#1b1d1e:#f92672:#82b414:#fd971f:#56c2d6:#8c54fe:#465457:#ccccc6:#505354:#ff5995:#b6e354:#feed6c:#8cedff:#9e6ffe:#899ca1:#f8f8f2"
# palette = "#1b1d1e:#9e1641:#71a712:#aba550:#2621b2:#7856b4:#43a2b4:#bfbfbf:#74715d:#f72a6f:#9ee22d:#e2dc75:#3c33ff:#ae81ff:#66d9ee:#e6e5e6"
# foreground_color = "#f8f8f2"
# background_color = "#262626"*/

a {
  color: #82b414;
}

a:hover {
  color: #71a712;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

header a {
  display: inline-block;
  padding: 20px;
}